<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher_background"
        android:label="Recipe Search App"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">
        <activity
            android:name=".ui.view.auth.appwrite_auth.AppwriteRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.recipe_details.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name="io.appwrite.views.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="android_web_auth">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="appwrite-callback-65489eefaa3bd07f3d1a" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.auth.signUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.dashboard.DashBoardActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.view.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>